@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d0a05;
}

/* Hero shine effect */
@keyframes shine {
  0% {
    transform: translateX(-200%) skewX(-12deg);
  }
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-shine {
  animation: shine 3s infinite;
}
